body > div {
    float: left;
 }

 .navegacion{

     width: 150px;
     height: 600px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     
}

 li{
     transform: rotateZ(-90deg);
     list-style-type: none;
 }
 .principal{
        width: 700px;
        height: 500px;
        display: flex;
        background-image:url(Main_Picture.png) ;
        background-size: 900px 100vh;
 }
 .barra{
     width: 300px;

     

 }
