body > div {
    float: left;
 }

.navegacion{

    
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     border-right: 2px solid black;
     position: relative;
     right: 2%;
     width: 200px;
     height: 100vh;

}

 li{
     transform: rotateZ(-90deg);
     list-style-type: none;


 }

 .principal{
        width: 900px;
        height: 700px;
        display: flex;
        color: white;
        flex-wrap: wrap ;
        background-image:url(Main_Picture.png) ;
        background-size: 900px 700px;
 }
 
 .barra{
     width: 300px;
     margin: 3%;
 }
.redes{
    width: 200px;
    height: 660px;
    display: flex;
    justify-self: flex-start;
    align-items: flex-end;
    justify-content: space-around;
    position: relative;
    left: -38%;
 }
 .principal .header{
    background-color: rosybrown;
    height: 10%;
    position: relative;
    bottom: -20%;
    left: 20%;
 }

 .principal .titulo{
    display: flex;
    position: relative;
    bottom: 140%;
    font-size: 60px;
    left: -20%;
    color:white;
 }
 
 .principal .subtitulo{
    display: flex;
    position: relative;
    bottom: 180%;
    right: -55%;
    color:white;
 }

 .principal .fecha{
    display: flex;
    position: relative;
    bottom: -85%;
    right: -20%;
 }

 .barra .fecha{
     border-top: 1px solid black;
 }

